<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Book List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<h2> <a href="addperson">Add new person</a> </h2>
<br/><br/>
<div class="container">
  <table class ="container" border="1">
    <tr>
      <th><h1>Name</h1></th>
      <th><h1>Surname</h1></th>
      <th colspan="2"><h1>Possibilities</h1></th>
    </tr>
    <tr th:each ="person : ${persons}">
      <td th:utext="${person.name}">...</td>
      <td th:utext="${person.surname}">...</td>
      <td>
        <button>
          <a th:href="'/editperson/' + ${person.id}">Edit</a>
        </button>
      </td>
      <td>
        <form th:action="'/deleteperson/' +${person.id}" method="post">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>